header {
    background-color: pink;
  }
  
  body {
    background-color: #f3f3f3;
   
  }

  #main {
    display: grid;
    grid-template-columns: 12.5% 75% 12.5%;
    grid-template-rows: 33% 33% 33%
  }
  
  