header {
  background-color: #eeeeee;
  text-align: center;
}

body {
  background-color: white;
}

img {
    width: 90%;
    height: auto;
    padding: 1em;
}

#main {
  display: grid;
  grid-template-columns: 2.5% 95% 2.5%;
  grid-template-rows: 12.5% 75% 12.5%;
}

#sidebarOne {
  background-color: #eeeeee;
}

#sidebarTwo {
  background-color: #eeeeee;
}
